html,body{
    margin: 0 ;
    padding: 0;
    position: relative;
    top: 60%;
    left: 50%;
    transform: translate(-50%,-50%);
}
.main{
    display: flex;
    gap: 10px;
    flex-wrap: wrap;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    text-align: center; 
}
button{
    padding: 10px 35px;
    border: none;
    border-radius: 9px;
    background-color: #2F4F4F ;
    font-weight: 700;
    font-size: 18px;
    color: white;
    box-shadow:8px 8px 11px #1c1b1b;
    cursor: pointer;
    transition: all 0.1s linear;
}
.btns{
    display: flex;
    gap: 20px;
    justify-content: center;
    align-items: center;
}
h2{
    color: #3b1603;
    font-size: 30px;
}

button:hover{
    transform: scale(1.06);
}